    <div class="col-narrow">
      <h2>RSS feed</h2>

      <p>
        For an RSS reader, use this link to
        <a href="{{ site.news.feed }}">the feed</a>.
      </p>

      <h2>Email newsletter</h2>

      <p>
        If you'd prefer this newsletter going to your inbox, use a solution
        similar to <a href="https://blogtrottr.com/">Blogtrottr</a> which takes
        an RSS feed and sends it to your email.
      </p>

      <h2>Archives</h2>

      <p>
        To find and read the previous newsletters, just use the
        <a href="/news/archive/">Archive</a> page.
      </p>


      <h2>More frequent news</h2>

      <p>
        Visit the <a href="/support/">OpenCATS support page</a> for live GitHub Discussions and the locked legacy forum archive.
      </p>
    </div>
  </div>
